/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-deep-teal: #2e8b57;
  --color-light-sky: #87ceeb;
  --color-sand: #f4a460;
  --color-bright-teal: #40e0d0;
  --color-pale-blue: #f0f8ff;
  --color-text: #333333;
}

body {
  background-color: var(--color-pale-blue);
  color: var(--color-deep-teal);
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Rounded", sans-serif;
  color: var(--color-deep-teal);
}

.card {
  background: linear-gradient(135deg, #ffffff 0%, #f0f8ff 100%);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-primary {
  background-color: var(--color-deep-teal);
  color: #ffffff;
}

.button-primary:hover {
  background-color: var(--color-bright-teal);
}

.input,
.textarea {
  border: 1px solid var(--color-light-sky);
  border-radius: 0.5rem;
  background-color: var(--color-pale-blue);
  color: var(--color-deep-teal);
}

.sidebar {
  display: none;
  background-color: var(--color-pale-blue);
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
    width: 20rem; /* 사이드바 폭을 고정 */
    padding: 20px;
    position: sticky;
    top: 64px; /* 화면 상단에서 사이드바가 떨어져 있는 거리 */
    left: 0; /* 화면의 왼쪽에 고정 */
    height: calc(100vh - 64px); /* 전체 높이에서 top과 bottom 여백을 뺀 값 */
    background-color: var(--color-pale-blue);
    /* 왼쪽을 제외한 방향에 그림자를 적용 */
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1); /* 오른쪽과 아래쪽에만 그림자가 적용 */
    border-left: none; /* 왼쪽 선을 없애고 싶은 경우 */
    overflow-y: auto; /* 사이드바 내부 스크롤 허용 */

  }
}


.main-content {
  flex-grow: 1;
  padding: 20px; /* 추가적인 패딩 */
}

/* 물결 효과 애니메이션 */
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ripple-effect:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple-effect:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}


iframe {
  width: 100%;
  border: none;
  background-color: var(--color-pale-blue);
  color: var(--color-deep-teal);
}


@media (min-width: 1024px) {
  .input-container {
    position: fixed;
    bottom: 0;
    left: calc(20rem); /* 사이드바를 제외한 부분만을 고려하여 left 조정 */
    width: calc(100% - 20rem); /* 사이드바를 제외한 화면의 전체 너비 */
    max-width: calc(100% - 20rem); /* 사이드바를 제외한 최대 너비 */
    background-color: #40E0D0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    z-index: 50;
  }
}


@media (max-width: 1023px) {
  .input-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #40E0D0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    z-index: 50;
  }
}

